
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #ffeef3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* กล่อง */
.box {
  position: relative;
  width: 200px;
  height: 200px;
  background: linear-gradient(#d2a679, #c89b6d);
  cursor: pointer;

  border-radius: 6px;
  box-shadow:
    0 10px 20px rgba(0,0,0,.25),
    inset 0 -4px 0 rgba(0,0,0,.15);
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,.35),
    rgba(0,0,0,.15)
  );

  border-radius: 6px 6px 0 0;
  opacity: 0;
  transition: opacity .4s ease;

  pointer-events: none;
}
.box.open::before {
  opacity: 1;
}




/* ฝา */
.lid {
  position: absolute;
  top: 0;
  width: 100px;
  height: 60px;
  background: linear-gradient(#e2c49a, #d9b88c);
  transition: transform 1s ease;

  box-shadow:
    0 4px 6px rgba(0,0,0,.25),
    inset 0 -3px 0 rgba(0,0,0,.2);

  border-radius: 4px 4px 2px 2px;
}

.lid.left {
  left: 0;
  transform-origin: left top;
}

.lid.right {
  right: 0;
  transform-origin: right top;
}

/* เปิดฝา */
.box.open .lid.left {
  transform: rotateY(-150deg);
}

.box.open .lid.right {
  transform: rotateY(150deg);
}

/* รูปที่พุ่งออกมา */
.rose {
  position: fixed;
  pointer-events: none;
  transition: transform 3.5s ease, opacity 5s ease;
}
.lid::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(0,0,0,.15);
}

#valentine-text {
  position: fixed;
  top: 10%;
  font-size: 48px;
  color: #e6397f;
  letter-spacing: 2px;

  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .6s ease, transform .6s ease;
}

#valentine-text.show {
  opacity: 1;
  transform: translateY(0);
}

